/*font-family start*/

/*common css start*/
/*body{
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: ;
}*/
.wrapper{
	margin: 100px 0;
}
 .demo{
 	padding: 0 10px;
 }

.hello{
	margin: 100px 0;
}


/*common css end*/
/*header start*/


/*header end*/